/*body CSS*/
* {
  box-sizing: border-box;
}

/*header CSS*/
h1 {
  text-align: center;
}

h1 > a > img {
  width: 250px;
  height: 150px;
}

header > nav > ul {
  list-style-type: none;
  padding-left: 200px;
  width: 100%;
}

header > nav > ul > li {
  font-family: "Orbit", sans-serif;
  display: inline-block;
  width: 19%;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
}
/*header CSS*/

div.wr {
  display: block;
  /*   position: absolute;*/
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

div.wr > div.wr_part > img {
  margin-top: 15px;
  margin-bottom: 5px;
}

/*작가글 전체 위치 잡는 영역*/
div.posts-title {
  display: block;
  flex-direction: column;
  /*  height: calc(100%-100px);*/
  margin-bottom: 30px;
  text-align: left;
  margin: 50px 200px 50px;
  font-family: "Orbit", sans-serif;
}
/*작가 글 1개씩 보여주는 영역*/
div.post_part {
  padding-top: 10px;
  margin: 20px 300px 50px;
}

div.posts_part > div.post > a.thumbnail {
  float: right;
  position: inline-block;
  margin: 10px;
}

div.posts_part > div.post > div.post-title-writer {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  display: block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-family: "Orbit", sans-serif;
}
div.posts_part > div.post > span.post-content {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Orbit", sans-serif;
}

/*버튼처리 시작*/
div.button {
  display: block;
  margin-bottom: 20px;
  flex-direction: column;
  /* left: 80%;*/
  margin: 50px 200px 50px;
  text-align: right;
}
div.button > input[type="button"] {
  background-color: rgb(121, 193, 150);
  border-radius: 10px;
  font-family: "Orbit", sans-serif;
}
/*버튼처리 끝*/

/*페이징처리*/
div.paging {
  display: block;
  text-align: center;
}
/*footer CSS*/
footer > div > p.footer-center {
  text-align: center;
}

footer {
  display: inline-block;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*footer CSS*/
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
/*body CSS*/
* {
  box-sizing: border-box;
}

/*header CSS*/
h1 {
  text-align: center;
}

h1 > a > img {
  width: 250px;
  height: 150px;
}

header > nav > ul {
  list-style-type: none;
  padding-left: 200px;
  width: 100%;
}

header > nav > ul > li {
  font-family: "Orbit", sans-serif;
  display: inline-block;
  width: 19%;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
}
/*header CSS*/

div.wr {
  display: block;
  /*   position: absolute;*/
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

div.wr > div.wr_part > img {
  margin-top: 15px;
  margin-bottom: 5px;
}

/*작가글 전체 위치 잡는 영역*/
div.posts-title {
  display: block;
  flex-direction: column;
  /*  height: calc(100%-100px);*/
  margin-bottom: 30px;
  text-align: center;
  margin: 50px 200px 50px;
  font-family: "Orbit", sans-serif;
}
/*작가 글 1개씩 보여주는 영역*/
div.post_part {
  padding-top: 10px;
  margin: 20px 300px 50px;
}

div.posts_part > div.post > a.thumbnail {
  float: right;
  position: inline-block;
  margin: 10px;
}
div.posts_part > div.post > a.thumbnail > img {
  width: 125px;
  height: 125px;
}

div.posts_part > div.post > div.post-title-writer {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  display: block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-family: "Orbit", sans-serif;
}
div.posts_part > div.post > span.post-content {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Orbit", sans-serif;
}

/*버튼처리 시작*/
div.button {
  display: block;
  margin-bottom: 20px;
  flex-direction: column;
  /* left: 80%;*/
  margin: 50px 200px 50px;
  text-align: right;
}
div.button > input[type="button"] {
  background-color: rgb(121, 193, 150);
  border-radius: 10px;
  font-family: "Orbit", sans-serif;
}
/*버튼처리 끝*/

/*페이징처리*/
div.paging {
  display: block;
  text-align: center;
}
/*footer CSS*/
footer > div > p.footer-center {
  text-align: center;
}

footer {
  display: inline-block;
  background-color: black;
  color: white;

  bottom: 0;
  width: 100%;
}
/*footer CSS*/
