/*body CSS*/
* {
  box-sizing: border-box;
}
/*body CSS*/

/*header CSS*/
h1 {
  text-align: center;
}
h1 > a > img {
  width: 250px;
  height: 150px;
}

header > nav > ul {
  list-style-type: none;
  padding-left: 200px;
  width: 100%;
}

header > nav > ul > li {
  font-family: "Orbit", sans-serif;
  display: inline-block;
  width: 19%;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
}
/*header CSS*/
/*좋아요한 글, 구독 작가 선택- 공통영역*/
div.library_view {
  margin: 50px 100px 100px 150px;
  display: block;
  font-family: "Orbit", sans-serif;
}
div.library_view > div.library_like {
  float: left;
  width: 50%;
  position: static;
  text-align: center;
  color: rgb(34 12 64 / 60%);
  margin-bottom: 0px;
}
div.library_view > div.library_like > span.like > a {
  text-decoration: none;
  color: black;
}

div.library_view > div.library_like > span.like:hover {
  cursor: pointer;
  /*    text-decoration: underline;*/
}

div.library_view > div.library_following {
  float: right;
  width: 50%;
  position: static;
  text-align: center;
  color: #008000;
  font-weight: bold;
  margin-bottom: 0px;
  text-decoration: none;
}

div.library_view > div.library_following > span.following > a {
  text-decoration: none;
  color: black;
}

div.library_view > div.library_following > span.following:hover {
  cursor: pointer;
  /*    text-decoration: underline;*/
}
/*좋아요한 글, 구독 작가 선택- 공통영역*/

/*구독작가 영역*/
div.following {
  margin: 50px 150px 150px 150px;
  display: block;
  font-family: "Orbit", sans-serif;
  display: block;
}
div.following > table {
  width: 100%;
  vertical-align: middle;
  flex-direction: column;
}

div.following > table > tbody > tr {
  flex-direction: column;
}

.subscribe {
  background-color: rgb(121, 193, 150);
  border-radius: 10px;
  font-family: "Orbit", sans-serif;
  vertical-align: middle;
}

/*구독작가 영역*/

/*페이징처리*/
div.paging {
  position: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*footer CSS*/
footer > div > p.footer-center {
  text-align: center;
}

footer {
  display: inline-block;
  background-color: black;
  color: white;
  /*  position: fixed;*/
  bottom: 0;
  width: 100%;
}
/*footer CSS*/
