@font-face {
  font-family: "Dotum";
  src: url(../font/KoPubDotumMedium.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Dotum";
  /* aspect-ratio: ; */
}

.signup {
  margin: 0 350px;
  width: 450px;
}

/*프로필 이미지 첨부*/
.profile {
  width: 50px;
  height: 40px;
  margin: 30px 5px;
}

.profile:hover {
  cursor: pointer;
}

.profile > b {
  font-size: 1px;
}

.signup > div > b {
  font-size: 9px;
}

.placehold-text {
  width: 50px;
}

.btn_area > type > span {
  width: 100px;
}

/*아이디, 필명 중복확인*/
.signup input[type="button"] {
  width: 144px;
  /*버튼*/
}

.member input[type="number"] {
  width: 70px;
}

/*인증 확인 버튼*/
.check {
  width: 75px;
  height: 20px;
  font-size: 5px;
}

/*가입버튼*/
.signup {
  width: 150px;
  height: 20px;
  font-size: 10px;
  background-color: rgb(121, 193, 150);
  border: none;
  color: white;
}

.signbtn > a {
  text-decoration: none;
  color: white;
}

.signup > a {
  text-decoration: none;
  color: white;
}
