*{
    box-sizing: border-box;
}
div.logo{
    text-align : center;
    display: block;
}
div.writter{ 
    text-align: center;
    border:1px solid black; 
    height: 200px;
    padding-top: 20px;
    padding-bottom: 10px;   
}
div.writter>a.img{
    position: block;
    text-align: center;
}
div.writter>div.writter_name{
    position: block;
    text-align: center;
}
div.writter>div.writter_info{
    position: block;
    text-align: center;
}

section{
    height: calc(100%-100px);
}
section>span.title{
    text-align: center;
    margin-bottom: 80px;
}
#subscribe{
    position: absolute;
    left: 1100px;
    background-color: rgb(121, 193, 150);
}

div.post{
    position: absolute; 
    width: 900px;
    height: 125px;
    /*text-align: center;가운데정렬*/
}
div.post>a.thumbnail {
    position: absolute; 
    left : 920px;
    top: 10px;
}

div.post>div.post-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
}
div.post>span.post-content{
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div.paging{
    position: block;
    text-align: center;
    height: calc(100%-50px);
}