<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>
  <typeAliases>
  	<typeAlias type="com.gardener.member.dto.Member" alias="Member"/>
  	<typeAlias type="com.gardener.post.dto.Post" alias="Post"/>
  	<typeAlias type="com.gardener.comments.dto.Comments" alias="Comments"/>
  	<typeAlias type="com.gardener.search.dto.Search" alias="Search"/>
  </typeAliases>	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.0.30:1521:xe"/>
        <property name="username" value="gardener"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="/mappers/MemberMapper.xml"/>
    <mapper resource="/mappers/PostMapper.xml"/>
    <mapper resource="/mappers/CommentsMapper.xml"/>
    <mapper resource="/mappers/SearchMapper.xml"/>
    <mapper resource="/mappers/WriterMapper.xml"/>
  </mappers>
</configuration>