<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gardener.member.MemberMapper">

 <select id="selectById" parameterType="java.lang.String" resultType="com.gardener.member.dto.Member">
        SELECT id, pwd, email, name, intro, profile
        FROM member_table
        WHERE id = #{id}
    </select>
 
 <update id="updateMember" parameterType="com.gardener.member.dto.Member">
    UPDATE member
    SET pwd = #{pwd},
    email = #{email},
    name = #{name},
    intro = #{intro},
    profile = #{profile}         
    WHERE id = #{id}
</update>

 <delete id="deleteMember" parameterType="String">
	DELETE FROM member WHERE LOGINID = #{userId}
    </delete>

</mapper>