<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gardener.post.PostMapper">
    <sql id="postColumns">
        postnum
        ,usernum, maintitle, subtitle, content, maintitleimg, category, postpublic, favorite, createpost
    </sql>

    <insert id="insertPost" parameterType="Post">
        <selectKey keyProperty="postNum" resultType="int" order="AFTER">
            SELECT post_seq.currval FROM dual
        </selectKey>

        insert into post(<include refid="postColumns"></include>)
        values(post_seq.nextval, #{userNum}, #{mainTitle}, #{subTitle}, #{content}, #{mainTitleImg},
        #{category}, 0, 0, systimestamp )

    </insert>

    <!--    동적쿼리로 처리-->
    <insert id="insertImgs" parameterType="map">
        INSERT INTO imgs (id, img1, img2, img3, img4, img5)
        <choose>
            <when test="img4 != null ">
                VALUES (#{id}, #{img0}, #{img1}, #{img2}, #{img3}, #{img4})
            </when>
            <when test="img3 != null">
                VALUES (#{id}, #{img0}, #{img1}, #{img2}, #{img3}, null)
            </when>
            <when test="img2 != null">
                VALUES (#{id}, #{img0}, #{img1}, #{img2}, null, null)
            </when>
            <when test="img1 != null">
                VALUES (#{id}, #{img0}, #{img1}, null, null, null)
            </when>
            <when test="img0 != null">
                VALUES (#{id}, #{img0}, null, null, null, null)
            </when>
        </choose>
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select post_seq.currval from dual
        </selectKey>
    </insert>

    <resultMap id="joinMap" type="Post" autoMapping="true">
        <id property="postNum" column="postnum"/>
        <result property="userNum" column="usernum"/>
        <result property="mainTitle" column="maintitle"/>
        <result property="subTitle" column="subtitle"/>
        <result property="content" column="content"/>
        <result property="mainTitleImg" column="maintitleimg"/>
        <result property="category" column="category"/>
        <result property="postPublic" column="postpublic"/>
        <result property="favorite" column="favorite"/>
        <result property="createPost" column="createpost"/>
        <association property="member" javaType="Member" autoMapping="true"/>
    </resultMap>

    <select id="selectPost" parameterType="int" resultMap="joinMap">
        SELECT m.name,
               m.intro,
               m.profile,
               p.*
        FROM post p
                 JOIN MEMBER m ON p.usernum = m.id
        WHERE p.postnum = #{id}
    </select>

    <select id="selectAllPosts" resultMap="joinMap">
        SELECT m.name,
               m.intro,
               m.profile,
               p.*
        from post p,
             member m
        WHERE (p.usernum = m.id)
        ORDER BY p.postnum desc
    </select>


    <update id="updatePost" parameterType="Post">
        UPDATE post
        SET maintitle    =#{mainTitle},
            subtitle     = #{subTitle},
            content      =#{content},
            maintitleimg =#{mainTitleImg},
            category     = #{category},
            postpublic   = #{postPublic}
        WHERE postnum = #{postNum}
    </update>

</mapper>

