<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gardener.PostMapper">
  <select id="selectById" 
		 parameterType="string"
		 resultType="Post">
  SELECT * FROM post WHERE maintitle=#{mainTitle}
  </select> 
    <select id="selectByLoginid" 
		 parameterType="string"
		 resultType="Post">
SELECT p.maintitle, p.content, p.maintitleimg 
FROM post p JOIN member m ON (p.usernum = m.id)
WHERE login_id =#{loginid}
  </select>
      <select id="selectByWriter" 
		 parameterType="int"
		 resultType="Member">
SELECT m.name, m.intro, m.profile
FROM writer w JOIN member m ON (w.writerid = m.id)
WHERE writerid=#{writerid}	
  </select>	
        <select id="selectByWriterPost" 
		 parameterType="int"
		 resultType="string">
SELECT p.maintitle, p.content, p.maintitleImg, m.name
FROM post p, writer w, member m
WHERE w.writerid = #{writerid}
  </select>	  
</mapper>