@font-face {
  font-family:"Dotum" ;
  src: url(../font/KoPubDotumMedium.ttf);
}

*{
  box-sizing: border-box;
  font-family: "Dotum";
}

h1{text-align:center; margin: 20px;}

.member{
  margin: 50px 200px ;
  width: 500px;    
}


.member>div>b{
  font-size: 9px;
}

.placehold-text{
  width: 50px;
}

.btn_area>type>span{
  width: 100px;
}

.member input[type=button]{
  width: 152px;
  height: 20px;
  font-size: 10px;    
  background-color: rgb(121, 193, 150);
  border: none;
  color: white;
}


.member input[type=number]{
  width: 70px;
}

.check{
  width: 80px;
  height: 20px;
  border: none;
  font-size: 5px;
  color: white;
  background-color: rgb(121, 193, 150);
}

body>div.member{
  display: inline;
  margin-bottom: 500px 200px 300px;
}