*{
    box-sizing: border-box;
}
div.logo{
    text-align : center;
    display: block;
}
div.library_view{
    margin: 100px 100px 100px 100px; 
}

div.library_view>div.library_like{ 
    float: left;
    width: 50%;
    position: static;
    text-align: center;
    color: rgb(34.0 12 64 / 60%);
}
div.library_view>div.library_like>span.like:hover{ 
    cursor: pointer;
    text-decoration: underline;
}

div.library_view>div.library_following{
    float: right;  
    width: 50%;
    position: static;
    text-align: center;
    color: #008000;
    font-weight: bold;
}
div.library_view>div.library_following>span.following:hover{ 
    cursor: pointer;
    text-decoration: underline;
}

div.following{
    margin: 100px 100px 100px;
}
#f1{ 
    float: left;
    width: 50%;
    position: static;
}
#f1-content{ 
    display:table;
    margin-left: 5px;
}
span.wr_name{
    padding-left: 10px;
    align-items: center;
    display:table-cell;
    vertical-align:middle;
}   
#f2{ 
    float: left;
    width: 50%;
    position: static;
}
#f2-content{ 
    display:table;
    margin-left: 5px;
}
#f3{ 
    float: left;
    width: 50%;
    position: static;
}
#f3-content{ 
    display:table;
    margin-left: 5px;
}
#f4{ 
    float: left;
    width: 50%;
    position: static;
}
#f4-content{ 
    display:table;
    margin-left: 5px;
}
#f5{ 
    float: left;
    width: 50%;
    position: static;
}
#f5-content{ 
    display:table;
    margin-left: 5px;
}
#f6{ 
    float: left;
    width: 50%;
    position: static;
}
#f6-content{ 
    display:table;
    margin-left: 5px;
}
#f7{ 
    float: left;
    width: 50%;
    position: static;
}
#f7-content{ 
    display:table;
    margin-left: 5px;
}
#f8{ 
    float: left;
    width: 50%;
    position: static;
}
#f8-content{ 
    display:table;
    margin-left: 5px;
}
#f9{ 
    float: left;
    width: 50%;
    position: static;
}
#f9-content{ 
    display:table;
    margin-left: 5px;
}
#f10{ 
    float: left;
    width: 50%;
    position: static;
}
#f10-content{ 
    display:table;
    margin-left: 5px;
}

div.paging{
    position: block;
    text-align: center;
    height: 10%;
    margin-bottom: 50px;
}