@font-face {
  font-family: "Dotum";
  src: url(../assets/font/KoPubDotumMedium.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Dotum";
}

/*내정보 시작*/
.mypage {
  font-size: 30px;
  width: 150px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  box-shadow: inset 0 -10px 0 hsla(53, 89%, 50%, 0.53);
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}
/*내정보 끝*/

/*내용 작성 시작*/
nav > p > span {
  display: inline-block;
  width: 110px;
  text-align: end;
}
/*내용 작성 끝*/

/*내용 크기 시작*/
body > header {
  text-align: center;
  padding: 16px 17px 0;
  width: 500px;
  border: solid 2px rgb(192, 192, 192);
  border-radius: 12px;
  height: 500px;
  display: flex;
  text-align: left;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*내용 크기 끝*/

body > header > nav {
  float: left;
}

.intro {
  width: 200px;
}

/*버튼 위치 시작*/
.container {
  text-align: center;
  margin-top: 10px;
  position: relative;
}
/*버튼 위치 끝*/

/*버튼 꾸미기 시작*/
.btn {
  text-align: center;
  width: 245px;
  height: 30px;
  border: none;
  background-color: rgb(121, 193, 150);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*버튼 꾸미기 끝*/

/*회원탈퇴 버튼 시작*/
.cancel > button {
  margin-top: 10px;

  right: 225px;
}

.cancel {
  position: relative;
  left: 210px;
}
/*회원탈퇴 버튼 끝*/
