@font-face {
  font-family: "Diphylleia";
  src: url(../assets/font/TitleFont/Diphylleia-Regular.ttf);
}
@font-face {
  font-family: "article";
  src: url(../assets/font/article-font/KoPubDotumMedium.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section img {
  width: 100px;
}

/* 헤더 시작 */
.main-logo {
  margin: 50px auto;
  max-width: 1400px;
  height: 250px;
  text-align: center;
}
.main-logo > img {
  height: 100%;
}
/* 헤더 끝 */

/* 섹션 시작 */
section {
  margin: 0 auto;
  max-width: 900px;

  position: relative;
}
/* 섹션 헤더 시작 */
section div.section-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
section div.section-header-title > input[name="title"] {
  height: 53px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  border: none;
  outline: none;
  font-family: "Diphylleia";
}

section div.section-header-subtitle > input[name="subtitle"] {
  text-align: center;
  font-size: large;
  font-weight: 700;
  height: 24px;
  border: none;
  outline: none;
  font-family: "Diphylleia";
}
/* 섹션 헤더 끝 */

/* 아티클 시작 */
section > article {
  min-height: 600px;
  height: 100%;
  font-family: "article";
}

section > article > div {
  min-height: 400px;
}
/* 아티클 이미지 시작 */
section div.img-pic {
  width: 50px;
  position: absolute;
  top: 192px;
  left: 900px;
}

section div.img-pic img {
  width: 100%;
}
/* 아티클 이미지 끝 */
/* 아티클 끝 */

/* 비공개 설정 시작 */
section div.secret {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}
section div.secret > span {
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px;
}

div.secret > label.secret-toggle {
  width: 100px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0/ 15%);
  cursor: pointer;
}
div.secret > label.secret-toggle > .secret-toggle-btn {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #f03d3d;
}

div.secret > input:checked ~ .secret-toggle {
  background-color: #f03d3d;
}
div.secret > input:checked ~ .secret-toggle .secret-toggle-btn {
  left: calc(100% - 44px);
  background-color: #fff;
}
.secret-toggle,
.secret-toggle-btn {
  transition: all 0.2s ease-in;
}
/* 비공개 설정 끝 */

/* 카테고리 시작 */
section div.category ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
section div.category ul > li {
  width: 84px;
}
/* 카테고리 끝 */

/* 글쓰기 등록 버튼 시작 */
section div.post-btn {
  display: flex;
  justify-content: space-around;
}

section div.post-btn > button {
  height: 50px;
  width: 450px;
}
/* 글쓰기 버튼 끝 */

/* 섹션 끝 */
